<!DOCTYPE html>
<html lang="it">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/style/home.css">
</head>

<body>
    <div class="main">
        <div class="title">Seleziona il tipo di applicazione:</div>
        <div class="select">
            <div class="one">
                <div class="cli"></div>
                <div class="text">CLI</div>
            </div>
            <div class="one">
                <div class="graph"></div>
                <div class="text">GUI</div>
            </div>
        </div>
    </div>
    <script src="/js/home.js"></script>
</body>

</html>